.wp-post-accordion{display:block;position:relative;overflow:hidden;padding:0;margin:0}
.wp-post-accordion dt,.wp-post-accordion dd{margin:0;padding:0}
.wp-post-accordion dt,.wp-post-accordion dd{position:absolute}
.wp-post-accordion dt{margin-bottom:0;margin-left:0;z-index:5;/* Safari */ -webkit-transform: rotate(-90deg); /* Firefox */ -moz-transform: rotate(-90deg);-moz-transform-origin: 20px 0px;  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);cursor:pointer;}
.wp-post-accordion dd{z-index:1;opacity:0;overflow:hidden}
.wp-post-accordion dd.active{opacity:1;}
.wp-post-accordion dd.no-more-active{z-index:2;opacity:1}
.wp-post-accordion dd.active{z-index:3}
.wp-post-accordion dd.plus{z-index:4}
.wp-post-accordion .slide-number{position:absolute;bottom:0;left:10px;font-weight:normal;font-size:1.1em;/* Safari */ -webkit-transform: rotate(90deg); /* Firefox */ -moz-transform: rotate(90deg);  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
	 	
.default-accordion {
	width:850px;
	height:275px;
	padding:15px;
	margin: 40px;
}

.default-accordion dl {
	width:850px;
	margin: 5px;
	height:275px
}

.default-accordion dt {
	height:46px;
	line-height:44px;
	text-align:right;
	padding:0 15px 0 0;
	text-transform:uppercase;
	letter-spacing:1px;
	background:#FFF;
}

.default-accordion dt.active {
	cursor:pointer;
	color:#fff;
	background:#333;
}

.default-accordion dt.hover {
	color:#68889b;
}

.default-accordion dt.active.hover {
	color:#fff;
}

.default-accordion dd {
	padding:25px;
	background:#fff;
	border-left:0;
	margin-right:3px;
}

.default-accordion h2 {
	font-size:2.5em;margin-top:10px;
}